@charset "UTF-8";
@import url("common/theme-color.css");

@property --value {
	syntax: '<number>';
	initial-value: 0;
	inherits: false;
}

.todo-tab-list {
	align-items: center;
	background-color: #F9F9FB;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
	display: flex;
	height: 8vh;
	width: 100vw;
}

.todo-tab {
	align-items: center;
	border-right: 1px solid var(--color-border-primary);
	cursor: default;
	display: flex;
	justify-content: center;
	position: relative;
}

.todo-tab.active::after {
	background-color: #AB825C;
	bottom: -10px;
	content: "";
	height: 5px;
	left: 10px;
	position: absolute;
	right: 10px;
}

.todo-tab-text {
	border: 1px solid;
	width: 50%;
}

.todo-tab-label {
	padding: 5px 20px;
}

.delete-todo-tab-button {
	display: none;
}

.todo-tab:hover:has(.todo-tab-label) .delete-todo-tab-button {
	background: none;
	border: none;
	display: block;
	margin-right: 10px;
}

.add-todo-tab-button {
	height: 35px;
	margin-left: auto;
	margin-right: 20px;
	width: 35px;
}

.add-todo-tab-button .icon {
	color: var(--color-icon-light);
	font-size: 1.4em;
}

.todo {
	align-items: center;
	border-bottom: 2px solid var(--color-border-primary);
	display: flex;
	margin: 20px auto;
	padding: 20px 0px;
	position: relative;
	width: 70%;
}

.todo-checkbox {
	margin: 0px 20px;
	transform: scale(1.5);
}

.todo-text {
	border: 2px solid;
	width: 60%;
}

.todo:hover {
	background-color: var(--color-bg-hover);
}

.todo-actions-trigger {
	display: none;
}

.todo:hover .todo-actions-trigger {
	background-color: var(--color-bg-hover);
	border: none;
	display: block;
	margin-left: auto;
	margin-right: 20px;
}

.todo-actions-trigger .icon {
	color: var(--color-icon-dark);
	font-size: large;
}

.todo-actions-menu {
	background-color: #FFFFFF;
	border: 1px solid;
	display: none;
	padding: 5px;
	position: absolute;
	right: 0%;
	top: 100%;
	transform: translate(110px, -40px);
	z-index: 1;
}

.todo-actions-menu.is-open {
	display: block;
}

.todo-actions-menu li {
	list-style: none;
	padding: 5px;
}

.todo-actions-menu li:hover {
	background-color: var(--color-bg-hover);
}

.todo-actions-item {
	align-items: center;
	background: none;
	border: none;
	display: flex;
	gap: 8px;
	height: 100%;
	padding: 5px;
	width: 100%;
}

.donut-chart {
	--size: 85px;
	--thickness: 10px;
	--value: 0;
	--color: #6366F1;

	align-items: center;
	background: conic-gradient(var(--color) calc(var(--value) * 1%),
			#E5E7EB 0);
	border-radius: 50%;
	display: flex;
	height: var(--size);
	justify-content: center;
	position: absolute;
	right: -100px;
	transition: --value 0.6s ease;
	width: var(--size);
}

.donut-chart-inner {
	align-items: center;
	background: white;
	border-radius: 50%;
	display: flex;
	height: calc(var(--size) - var(--thickness) * 2);
	justify-content: center;
	width: calc(var(--size) - var(--thickness) * 2);
}

.progress-rate-value {
	font-size: x-large;
	font-weight: bold;
}

.add-todo-button {
	bottom: 30px;
	height: 50px;
	position: fixed;
	right: 30px;
	width: 50px;
}

.add-todo-button .icon {
	color: var(--color-icon-light);
	font-size: 2em;
}