@charset "UTF-8";
@import url("theme-color.css");

header {
	align-items: center;
	background-color: var(--color-header);
	display: flex;
	height: 10vh;
	width: 100vw;
}

.app-name {
	color: var(--color-text-light);
	font-size: 1.5rem;
	font-family: "Zen Kaku Gothic New" Arial, sans-serif;
	font-weight: bold;
	margin: 0px 20px;
}