@charset "UTF-8";

:root {
	--color-header: #7B90D2;
	--color-text-light: #FCFAF2;
	--color-text-dark: #333333;
	--color-border-primary: #DFDDE6;
	--color-button-primary: #D8A373;
	--color-icon-primary: #FCFAF2;
}