<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="common/head :: head"></th:block>

<head>
	<link th:href="@{/css/todo-list.css}" rel="stylesheet">
</head>

<body>

	<th:block th:replace="common/header :: header"></th:block>

	<main>
		<div class="todo-tabs" id="todoTabs">
			<div th:each="tab : ${tabs}" class="todo-tab" th:data-tab-id="${tab.tabId}">
				<span th:text="${tab.tabName}" class="text-small-dark todo-tab-label"></span>
			</div>
			<button class="button-circle add-todo-tab-button" id="addTodoTabButton">
				<i class="icon fa-solid fa-plus"></i>
			</button>
		</div>
		<div class="todo-list" id="todoList">
			<button class="button-circle add-todo-button" id="addTodoButton">
				<i class="icon fa-solid fa-plus"></i>
			</button>
		</div>
	</main>

	<script type="module" th:src="@{/js/todo-list.js}"></script>

</body>

</html>